html, body {
    margin: 0;
    padding: 0
}

body {
    width: 100vw;
    height: 100vh;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: white;
}

.calculadora {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 34em;
    height: 40em;
    padding: 1em;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    background: rgba(135, 112, 254, 0.39);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    backdrop-filter: blur(10.5px);
    border: 1px solid rgba(135,112,254, 0.53)
}

.tela {
    border: 2px solid rgba(26, 21, 51, 0.90);
    height: 8em;
    width: 80%;
    border-radius: 0.6em;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    padding: 1em;
    background: rgba(26, 21, 51, 1);
    color: white;
    box-shadow: 2px 2px 5px black;
    font-family: 'Orbitron', inter;
}

.calculo {
    font-size: 2rem
}

.resultado {
    font-size: 4rem;
    font-weight: 700;
}

.vazio {
    color: rgba(255,255,255, 0.5);
}


.linha {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 95%
}

.botao {
    position: relative;
    border: none;
    background-color: rgb(100,80,205);
    color: white;
    font-weight: 600;
    width: 2.8em;
    height: 2.8em;
    transition: all .1s;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    border-radius: 0.4em;
    box-shadow: 1.5px 1.5px 3px black;
}

.botao:hover {
    background-color: rgb(135,112,254);
    transform: scale(1.1);
}

.botao:active {
    background-color: rgba(135, 112, 254, 0.39);
    box-shadow: 1px 1px 5px black;
    transform: scale(0.9);
}

#operador {
    background-color: rgba(100,80,205, 0.5);
}


