/* RESET CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* BACKGROUND */

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}



/* CORPO DA CALCULADORA */

.calculadora {
    background-color: rgb(174,141,3,0.59);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    backdrop-filter: blur(10.9px);
    border: 1px solid rgba(174,141,3,0.58);
    width: 70%;
    max-width: 500px;
    min-width: 400px;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1%;
}



/* TELA E EXIBIÇÃO DOS DADOS */

.tela {
    width: 80%;
    height: 20%;
    padding: 1em;
    border: 0.3em solid rgb(242,200,61);
    border-radius: 1.5em;
    background-color: rgb(242,202,68);
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    font-family: 'Orbitron', sans-serif;
}

.calculo {
    height: 40%;
    font-size: 2em;
}

.resultado {
    height: 55%;
    font-weight: bold;
    font-size: 5em;
    color: rgb(255,255,255);
}

.vazio {
    opacity: 0.7;
}



/* BOTÕES */

button {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: white;
    border: none;
    font-size: 2em;
    background-color: transparent;
    border-radius: 10px;
    width: 2.5em;
    height: 2.5em;
    transition: all 0.2s;
}

button:hover {
    background-color: rgb(245, 198, 2);
    transform: scale(1.1);
}

button:active {
    transform: scale(0.9);
}

.botoes {
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.operadores {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nOperadores {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

.numeros {
    width: 72%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.linha {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.igual {
    height: 100%;
    background-color: rgb(242,194,0);
}

.igual:hover {
    transform: scale(1.05);
}